.home {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(180deg, rgb(35, 109, 246) 0%, rgb(255, 102, 65) 100%);
  width: 1920px;
  height: 1080px;
}

.home .overlap {
  position: relative;
  width: 2080px;
  height: 1164px;
  top: -84px;
  left: 52px;
}

.home .overlap-group {
  position: absolute;
  width: 2049px;
  height: 1164px;
  top: 0;
  left: 31px;
}

.home .union {
  position: absolute;
  width: 689px;
  height: 1021px;
  top: 143px;
  left: 1029px;
}

.home .rectangle {
  position: absolute;
  width: 1353px;
  height: 913px;
  top: 0;
  left: 696px;
  background-color: #ffffff03;
  border-radius: 261px;
  backdrop-filter: blur(400px) brightness(100%);
  -webkit-backdrop-filter: blur(400px) brightness(100%);
}

.home .let-AI-handle-your {
  position: absolute;
  width: 897px;
  height: 170px;
  top: 472px;
  left: 0;
}

.home .text-wrapper {
  position: absolute;
  height: 63px;
  top: 703px;
  left: 31px;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: var(--fof-eggshell);
  font-size: 54px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .div {
  position: absolute;
  width: 363px;
  height: 256px;
  top: 137px;
  left: 0;
}

.home .layer {
  position: absolute;
  width: 156px;
  height: 153px;
  top: 0;
  left: 92px;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 363px;
  height: 121px;
  top: 135px;
  left: 0;
  font-family: "Work Sans", Helvetica;
  font-weight: 400;
  color: #ff6540;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .group {
  position: absolute;
  width: 185px;
  height: 61px;
  top: 827px;
  left: 221px;
}

.home .div-wrapper {
  position: relative;
  width: 183px;
  height: 61px;
  background-color: #23427b;
  border-radius: 87px;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 183px;
  height: 61px;
  top: 0;
  left: 0;
  font-family: "Lao Muang Don-Regular", Helvetica;
  font-weight: 400;
  color: #f4f1de;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
